.main-container {
  background: red;
  .about {
    height: calc(100vh - 48px);
    width: 100%;
    margin-top: 48px;
    margin-left: 256px;
    transition: all 0.3s ease-in-out;
    color: black;
    background: white;
  }
  .non {
    height: calc(100vh - 48px);
    width: 100%;
    margin-top:48px;
    margin-left: 0;
    color: black;
    background: white;
  }
}
