.home {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  img {
    width: 300px;
  }
  button {
    margin-top: 80px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: 2px solid #40b882;
    font-size: 18px;
    color: #40b882;
  }
  button:hover {
    border: 2px solid #d1674b;
    color: #d1674b;
  }
}
